head
  title practice
          
template(name= 'main_template')
    {{>Template.dynamic template=content}}
    #anotherChart

template(name= 'side_bar')
      .ui.vertical.menu
        a.active.teal.item(href='/home ')
          | Home
        a.item(href='/add ')
          | Add
        a.item(href='/contact ')
          | Contact Us


template(name= 'home')
    +each items
      .column
        +item_display
    .ui.modal
        i.close.icon
        .image.content
          .ui.medium.image
            img(src='/images/chair.png')
          .description
           
            form.ui.form
              .field
                label Item Name:
                input(type='text',myAttr = "editName", name='edit_item_name', placeholder= "Item Name" , value = '{{getName}}')
              .field
                label Item Type:
                input(type='text',myAttr = "edittype" ,name='edit_item_type', placeholder='Item Type', value='{{getType}}')
              .field
                label Description:
                input(type='text',myAttr = "editdesc", name='edit_item_description', placeholder='Description', value='{{getDesc}}')
              .field
                label Total Items
                input(type='integer',myAttr = "editAmount", name='edit_item_amount', placeholder='Total Items', value='{{getAmount}}')
              .field
              button#edit_item_form.ui.button(type='submit') Edit

template(name = 'item_display')
    .ui.cards
      .card
        .content
          img.right.floated.mini.ui.image(src='/images/chair.png')
          .header
            | {{name}}
          .meta
            | {{no_of_items}}
          .meta
            | {{type}}  
          .description
            | {{discription}}
        .extra.content
          .ui.two.buttons
            #edit_item.ui.basic.green.button(data-content= 'Edit this Item') Edit
            #delete_item.ui.basic.red.button(data-content= 'Edit this Item') Delete

template(name = 'edit_item_template')
   .ui.modal
        i.close.icon
        .image.content
          .ui.medium.image
            img(src='/images/chair.png')
          .description
           
            form#edit_item.ui.form
              .field
                label Item Name:
                input(type='text', name='edit_item_name', placeholder= "Item Name", value= "")
              .field
                label Item Type:
                input(type='text', name='edit_item_type', placeholder='Item Type', value= "")
              .field
                label Description:
                input(type='text', name='edit_item_description', placeholder='Description',value= "")
              .field
                label Total Items
                input(type='integer', name='edit_item_amount', placeholder='Total Items')
              .field
              button.ui.button(type='submit') Edit


template(name= 'add')
  form#add_item.ui.form
      .field
        label#itm_name Item Name:
        input(type='text', name='item_name', placeholder='Item Name')
      .field
        label#itm_type Item Type:
        input(type='text', name='item_type', placeholder='Item Type')
        .field
        label#itm_desc Description:
        input(type='text', name='item_description', placeholder='Description')
        .field
        label Total Items
        input(type='integer', name='item_amount', placeholder='Total Items')
      .field
      button.ui.button(type='submit') Add

template(name= 'contact')
    form.ui.form
      label(for='emailAddress') Email Address
      input(type='email', name='emailAddress')
      label(for='password') Password
      input(type='password', name='password')
      input(type='submit', value='Sign Up')
    button.buton_faceBook Facebook Login!
    button.buton_twitter Twitter Login!
    button.buton_linkedIn LinkedIn Login!
    if currentUser
      button.buton_logOut LogOut!

template(name = 'profile')
  .ui.cards
      .card
        .content
          .header getUserName
          .meta Friend
          .description
            | getUserEmail

template(name = 'test_temp')
  .ui.raised.text.container
    .ui.segment 
      .ui.divided.items
        button.button1 show
        button.button2 populate likes Data randomly
        .item
          .content
            {{> highchartsHelper chartId="test" chartWidth="100%" charHeight="100%" chartObject=topGenresChart}}
        .item
          .content
            {{> highchartsHelper chartId="test1" chartWidth="100%" charHeight="100%" chartObject=columnChart}}
        .item
          .content
            {{> highchartsHelper chartId="test2" chartWidth="100%" charHeight="100%" chartObject=areaChart}}
        .item
          .content
            {{> highchartsHelper chartId="test3" chartWidth="100%" charHeight="100%" chartObject=pieChart}}    

template(name = 'test_c3')
  .ui.raised.text.container
    .ui.segment
      .ui.divided.items
        button.ui.button.changeData Change with random data
        button.ui.button.addDataButton Add Random Data
        button.ui.button.dataDB Data from DB
        .item
          .content
            {{> c3 firstC3Chart}}
        .item
          .content
           .ui.input
              input.numlikes(type='number', placeholder='number of likes')
              input.numfollowers(type='number', placeholder='number of Followers')
            button.ui.button.enterLikes Enter
template(name = 'test_map')
  .ui.raised.text.container
    .ui.segment
      .ui.divided.items
        .item
          .content
             .map-container 
                {{> googleMap name="exampleMap" options=exampleMapOptions}}
  
  